@import "tailwindcss";
@plugin "daisyui";

@layer base {
  body {
    background-color: #0f1115;
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  }
}